/* Fix Leaflet default icon issue in Vite */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.leaflet-popup-content {
  font-size: 14px;
}
.leaflet-popup-content a {
  color: #10b981;
  font-weight: bold;
}
